[submodule "gr-ieee802-11"]
	path = gr-ieee802-11
	url = https://github.com/bastibl/gr-ieee802-11
[submodule "radioplus"]
	path = radioplus
	url = https://github.com/aler86/radioplus
[submodule "LTE-Cell-Scanner"]
	path = LTE-Cell-Scanner
	url = https://github.com/JiaoXianjun/LTE-Cell-Scanner
[submodule "spectrum_painter"]
	path = spectrum_painter
	url = https://github.com/polygon/spectrum_painter
[submodule "inspectrum"]
	path = inspectrum
	url = https://github.com/miek/inspectrum
[submodule "rtl_433"]
	path = rtl_433
	url = https://github.com/merbanan/rtl_433
[submodule "gr-ule"]
	path = gr-ule
	url = https://github.com/drmpeg/gr-ule
[submodule "dspectrum"]
	path = dspectrum
	url = https://github.com/tresacton/dspectrum
[submodule "rf-car"]
	path = rf-car
	url = https://github.com/rgerganov/rf-car
[submodule "gr-lora"]
	path = gr-lora
	url = https://github.com/BastilleResearch/gr-lora
[submodule "gr-nordic"]
	path = gr-nordic
	url = https://github.com/BastilleResearch/gr-nordic
[submodule "gr-satellites"]
	path = gr-satellites
	url = https://github.com/daniestevez/gr-satellites
[submodule "srsLTE"]
	path = srsLTE
	url = https://github.com/srsLTE/srsLTE
[submodule "srsue"]
	path = srsue
	url = https://github.com/srslte/srsue
[submodule "gr-keyfob"]
	path = gr-keyfob
	url = https://github.com/bastibl/gr-keyfob
[submodule "gr-lte"]
	path = gr-lte
	url = https://github.com/kit-cel/gr-lte
[submodule "CubicSDR"]
	path = CubicSDR
	url = https://github.com/cjcliffe/CubicSDR
[submodule "dingdong"]
	path = dingdong
	url = https://github.com/tresacton/dingdong
[submodule "waveconverter"]
	path = waveconverter
	url = https://github.com/paulgclark/waveconverter
[submodule "kalibrate-hackrf"]
	path = kalibrate-hackrf
	url = https://github.com/scateu/kalibrate-hackrf
[submodule "gr-amps"]
	path = gr-amps
	url = https://github.com/unsynchronized/gr-amps
[submodule "topguw2"]
	path = topguw2
	url = https://github.com/bastienjalbert/topguw2
[submodule "topguw"]
	path = topguw
	url = https://github.com/bastienjalbert/topguw
[submodule "urh"]
	path = urh
	url = https://github.com/jopohl/urh
[submodule "gr-dect2"]
	path = gr-dect2
	url = https://github.com/pavelyazev/gr-dect2
[submodule "re-DECTed"]
	path = re-DECTed
	url = https://github.com/znuh/re-DECTed
[submodule "qspectrumanalyzer"]
	path = qspectrumanalyzer
	url = https://github.com/xmikos/qspectrumanalyzer
[submodule "srsUE"]
	path = srsUE
	url = https://github.com/srsLTE/srsUE
[submodule "volk"]
	path = volk
	url = https://github.com/gnuradio/volk
[submodule "openbts"]
	path = openbts
	url = https://github.com/RangeNetworks/openbts
[submodule "liquid-dsp"]
	path = liquid-dsp
	url = https://github.com/jgaeddert/liquid-dsp
[submodule "shinysdr"]
	path = shinysdr
	url = https://github.com/kpreid/shinysdr
[submodule "gqrx"]
	path = gqrx
	url = https://github.com/csete/gqrx
[submodule "gps-sdr-sim"]
	path = gps-sdr-sim
	url = https://github.com/osqzss/gps-sdr-sim
[submodule "sdrangel"]
	path = sdrangel
	url = https://github.com/f4exb/sdrangel
[submodule "luaradio"]
	path = luaradio
	url = https://github.com/vsergeev/luaradio
[submodule "IMSI-catcher"]
	path = IMSI-catcher
	url = https://github.com/Oros42/IMSI-catcher
[submodule "RTLSDR-Scanner"]
	path = RTLSDR-Scanner
	url = https://github.com/EarToEarOak/RTLSDR-Scanner
[submodule "E012-SDR-transmitter"]
	path = E012-SDR-transmitter
	url = https://github.com/goebish/E012-SDR-transmitter
[submodule "dspectrumgui"]
	path = dspectrumgui
	url = https://github.com/tresacton/dspectrumgui
[submodule "hacktv"]
	path = hacktv
	url = https://github.com/fsphil/hacktv
