[submodule "radioplus"]
	path = radioplus
	url = https://github.com/aler86/radioplus
[submodule "LTE-Cell-Scanner"]
	path = LTE-Cell-Scanner
	url = https://github.com/JiaoXianjun/LTE-Cell-Scanner
[submodule "spectrum_painter"]
	path = spectrum_painter
	url = https://github.com/polygon/spectrum_painter
[submodule "inspectrum"]
	path = inspectrum
	url = https://github.com/miek/inspectrum
[submodule "rtl_433"]
	path = rtl_433
	url = https://github.com/merbanan/rtl_433
[submodule "gr-ule"]
	path = gr-ule
	url = https://github.com/drmpeg/gr-ule
[submodule "dspectrum"]
	path = dspectrum
	url = https://github.com/tresacton/dspectrum
[submodule "rf-car"]
	path = rf-car
	url = https://github.com/rgerganov/rf-car
[submodule "gr-lora"]
	path = gr-lora
	url = https://github.com/BastilleResearch/gr-lora
[submodule "gr-nordic"]
	path = gr-nordic
	url = https://github.com/BastilleResearch/gr-nordic
[submodule "gr-satellites"]
	path = gr-satellites
	url = https://github.com/daniestevez/gr-satellites
[submodule "srsLTE"]
	path = srsLTE
	url = https://github.com/srsLTE/srsLTE
[submodule "gr-keyfob"]
	path = gr-keyfob
	url = https://github.com/bastibl/gr-keyfob
[submodule "gr-lte"]
	path = gr-lte
	url = https://github.com/kit-cel/gr-lte
[submodule "CubicSDR"]
	path = CubicSDR
	url = https://github.com/cjcliffe/CubicSDR
[submodule "dingdong"]
	path = dingdong
	url = https://github.com/tresacton/dingdong
[submodule "waveconverter"]
	path = waveconverter
	url = https://github.com/paulgclark/waveconverter
[submodule "kalibrate-hackrf"]
	path = kalibrate-hackrf
	url = https://github.com/scateu/kalibrate-hackrf
[submodule "gr-amps"]
	path = gr-amps
	url = https://github.com/unsynchronized/gr-amps
[submodule "topguw2"]
	path = topguw2
	url = https://github.com/bastienjalbert/topguw2
[submodule "topguw"]
	path = topguw
	url = https://github.com/bastienjalbert/topguw
[submodule "urh"]
	path = urh
	url = https://github.com/jopohl/urh
[submodule "gr-dect2"]
	path = gr-dect2
	url = https://github.com/pavelyazev/gr-dect2
[submodule "re-DECTed"]
	path = re-DECTed
	url = https://github.com/znuh/re-DECTed
[submodule "qspectrumanalyzer"]
	path = qspectrumanalyzer
	url = https://github.com/xmikos/qspectrumanalyzer
[submodule "volk"]
	path = volk
	url = https://github.com/gnuradio/volk
[submodule "openbts"]
	path = openbts
	url = https://github.com/RangeNetworks/openbts
[submodule "liquid-dsp"]
	path = liquid-dsp
	url = https://github.com/jgaeddert/liquid-dsp
[submodule "shinysdr"]
	path = shinysdr
	url = https://github.com/kpreid/shinysdr
[submodule "gqrx"]
	path = gqrx
	url = https://github.com/csete/gqrx
[submodule "gps-sdr-sim"]
	path = gps-sdr-sim
	url = https://github.com/osqzss/gps-sdr-sim
[submodule "sdrangel"]
	path = sdrangel
	url = https://github.com/f4exb/sdrangel
[submodule "luaradio"]
	path = luaradio
	url = https://github.com/vsergeev/luaradio
[submodule "IMSI-catcher"]
	path = IMSI-catcher
	url = https://github.com/Oros42/IMSI-catcher
[submodule "RTLSDR-Scanner"]
	path = RTLSDR-Scanner
	url = https://github.com/EarToEarOak/RTLSDR-Scanner
[submodule "E012-SDR-transmitter"]
	path = E012-SDR-transmitter
	url = https://github.com/goebish/E012-SDR-transmitter
[submodule "dspectrumgui"]
	path = dspectrumgui
	url = https://github.com/tresacton/dspectrumgui
[submodule "hacktv"]
	path = hacktv
	url = https://github.com/fsphil/hacktv
[submodule "spectool-web"]
	path = spectool-web
	url = https://github.com/acg/spectool-web
[submodule "sdrtrunk"]
	path = sdrtrunk
	url = https://github.com/DSheirer/sdrtrunk
[submodule "sdrdaemon"]
	path = sdrdaemon
	url = https://github.com/f4exb/sdrdaemon
[submodule "dsdcc"]
	path = dsdcc
	url = https://github.com/f4exb/dsdcc
[submodule "leansdr"]
	path = leansdr
	url = https://github.com/pabr/leansdr
[submodule "scopy"]
	path = scopy
	url = https://github.com/analogdevicesinc/scopy
[submodule "gr-devsync"]
	path = gr-devsync
	url = https://github.com/GVardakis/gr-devsync
[submodule "gr-phasma"]
	path = gr-phasma
	url = https://github.com/ctriant/gr-phasma
[submodule "gr-ntsc-rc"]
	path = gr-ntsc-rc
	url = https://github.com/lscardoso/gr-ntsc-rc
[submodule "wavefinder"]
	path = wavefinder
	url = https://github.com/paulgclark/wavefinder
[submodule "rf_utilities"]
	path = rf_utilities
	url = https://github.com/paulgclark/rf_utilities
[submodule "rtlsdr-433m-sensor"]
	path = rtlsdr-433m-sensor
	url = https://github.com/kevinmehall/rtlsdr-433m-sensor
[submodule "soapy_power"]
	path = soapy_power
	url = https://github.com/xmikos/soapy_power
[submodule "SDR-Detector"]
	path = SDR-Detector
	url = https://github.com/He3556/SDR-Detector
[submodule "rtl-wmbus"]
	path = rtl-wmbus
	url = https://github.com/xaelsouth/rtl-wmbus
[submodule "simplesoapy"]
	path = simplesoapy
	url = https://github.com/xmikos/simplesoapy
[submodule "Salamandra"]
	path = Salamandra
	url = https://github.com/eldraco/Salamandra
[submodule "tsl-sdr"]
	path = tsl-sdr
	url = https://github.com/pvachon/tsl-sdr
[submodule "gps"]
	path = gps
	url = https://github.com/psas/gps
[submodule "LoRa-SDR"]
	path = LoRa-SDR
	url = https://github.com/myriadrf/LoRa-SDR
[submodule "pyrasdr"]
	path = pyrasdr
	url = https://github.com/bvacaliuc/pyrasdr
[submodule "pysdr"]
	path = pysdr
	url = https://github.com/pysdr/pysdr
[submodule "RFSec-ToolKit"]
	path = RFSec-ToolKit
	url = https://github.com/cn0xroot/RFSec-ToolKit
[submodule "ADSB-Out"]
	path = ADSB-Out
	url = https://github.com/lyusupov/ADSB-Out
[submodule "waveSDR"]
	path = waveSDR
	url = https://github.com/getoffmyhack/waveSDR
[submodule "gqrx-scanner"]
	path = gqrx-scanner
	url = https://github.com/neural75/gqrx-scanner
[submodule "fm-rds"]
	path = fm-rds
	url = https://github.com/alexmrqt/fm-rds
[submodule "gr-replay"]
	path = gr-replay
	url = https://github.com/cn0xroot/gr-replay
[submodule "rtl433_influx"]
	path = rtl433_influx
	url = https://github.com/azrdev/rtl433_influx
[submodule "HamLTE"]
	path = HamLTE
	url = https://github.com/mmtorni/HamLTE
[submodule "gr-pothos"]
	path = gr-pothos
	url = https://github.com/pothosware/gr-pothos
[submodule "HackRF-CUDA-Bluetooth-Sniffer"]
	path = HackRF-CUDA-Bluetooth-Sniffer
	url = https://github.com/estradjm/HackRF-CUDA-Bluetooth-Sniffer
[submodule "urh-cc1101_FEC_encode_decode_plugin"]
	path = urh-cc1101_FEC_encode_decode_plugin
	url = https://github.com/SpaceTeddy/urh-cc1101_FEC_encode_decode_plugin
[submodule "iqtool"]
	path = iqtool
	url = https://github.com/jgibbard/iqtool
[submodule "RF-List"]
	path = RF-List
	url = https://github.com/mgp25/RF-List
[submodule "NRF24-demodulator"]
	path = NRF24-demodulator
	url = https://github.com/roboremo/NRF24-demodulator
[submodule "pygqrx"]
	path = pygqrx
	url = https://github.com/alexf91/pygqrx
[submodule "signals"]
	path = signals
	url = https://github.com/filipsPL/signals
[submodule "limesdr_installer"]
	path = limesdr_installer
	url = https://github.com/mriosrivas/limesdr_installer
[submodule "limetool"]
	path = limetool
	url = https://github.com/F5OEO/limetool
[submodule "LimeQt"]
	path = LimeQt
	url = https://github.com/spr02/LimeQt
[submodule "nrf24l01-signal"]
	path = nrf24l01-signal
	url = https://github.com/afiskon/nrf24l01-signal
[submodule "tumblerf"]
	path = tumblerf
	url = https://github.com/riverloopsec/tumblerf
[submodule "LimeSDR-GSM-Dockerized"]
	path = LimeSDR-GSM-Dockerized
	url = https://github.com/emilf/LimeSDR-GSM-Dockerized
[submodule "LimeGPS"]
	path = LimeGPS
	url = https://github.com/osqzss/LimeGPS
[submodule "openairinterface5g"]
	path = openairinterface5g
	url = https://github.com/wynter-wang/openairinterface5g
[submodule "ar-lte"]
	path = ar-lte
	url = https://github.com/eshikafe/ar-lte
[submodule "OpenUSRP"]
	path = OpenUSRP
	url = https://github.com/jocover/OpenUSRP
[submodule "DatvExpressTransmitter"]
	path = DatvExpressTransmitter
	url = https://github.com/G4GUO/DatvExpressTransmitter
[submodule "cnn-rtlsdr"]
	path = cnn-rtlsdr
	url = https://github.com/randaller/cnn-rtlsdr
[submodule "pyLMS7002M"]
	path = pyLMS7002M
	url = https://github.com/myriadrf/pyLMS7002M
[submodule "ScratchRadio"]
	path = ScratchRadio
	url = https://github.com/myriadrf/ScratchRadio
[submodule "gr-cbmc"]
	path = gr-cbmc
	url = https://github.com/kit-cel/gr-cbmc
[submodule "sigplot"]
	path = sigplot
	url = https://github.com/LGSInnovations/sigplot
[submodule "RF-Monitor"]
	path = RF-Monitor
	url = https://github.com/EarToEarOak/RF-Monitor
[submodule "ooktools"]
	path = ooktools
	url = https://github.com/leonjza/ooktools
[submodule "SigDigger"]
	path = SigDigger
	url = https://github.com/BatchDrake/SigDigger
[submodule "RTLion"]
	path = RTLion
	url = https://github.com/RTLion-Framework/RTLion
[submodule "deinvert"]
	path = deinvert
	url = https://github.com/windytan/deinvert
[submodule "gr-rds"]
	path = gr-rds
	url = https://github.com/bastibl/gr-rds
[submodule "TempestSDR"]
	path = TempestSDR
	url = https://github.com/martinmarinov/TempestSDR
[submodule "ModulationPy"]
	path = ModulationPy
	url = https://github.com/kirlf/ModulationPy
[submodule "BTLE"]
	path = BTLE
	url = https://github.com/JiaoXianjun/BTLE
